server {
  listen   443;
  ssl    on;
  ssl_certificate     {{ www_domain_keys.fullchain }};
  ssl_certificate_key    {{ www_domain_keys.private }};

  server_name {{ server_domain }};
  access_log /var/log/nginx/ssl.{{ server_domain }}.access.log;
  error_log /var/log/nginx/ssl.{{ server_domain }}.error.log;

  rewrite ^/index.html / permanent;
        location / {
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header Host $http_host;
            proxy_set_header X-NginX-Proxy true;
            proxy_pass http://my_site/;
            proxy_redirect off;
        }
        location ~* .*\.(jpg|jpeg|gif|png|ico|css|zip|tgz|gz|rar|bz2|pdf|txt|tar|wav|bmp|rtf|js|flv|swf|html|htm|woff|woff2|ttf|eot|svg)$ {
            expires max;
            root /var/www/public;
        }
        location ~* \/\.well-known\/acme-challenge\/.*$ {
            root /var/www/public/;
        }
        location /socket/ {
                proxy_pass http://127.0.0.1:8080;
        }
}
server {
    listen  443;
    ssl    on;
    ssl_certificate    {{ naked_domain_keys.fullchain }};
    ssl_certificate_key    {{ naked_domain_keys.private }};
    server_name {{ server_domain | replace ("www.","") }};
    rewrite ^/(.*) https://www.{{ server_domain }}$1 permanent;
}
